@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* RESET CSS */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	width: 70dvw;
	margin-top: 2rem;
    background-color: #aacdfc;
	margin: 0 auto;
	text-align: center;
	color: #3d4756;
    
}
 
header{
	margin-top: 1rem;
    margin-bottom: 1rem;
    
}

div{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.button{
	
	margin-bottom: 1rem;
}

.button:hover{
	cursor: pointer;
}

footer a:hover{
	cursor: pointer;
}

p{
	margin-bottom: 1rem;
}

footer a:active{
	color: blueviolet;
}