*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    background-color: #ffa551;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 70dvw;
	margin: 0 auto;
	margin-top: 2rem;
}

header{
    background-color: #553128;
    color: #ffeace;
    margin-bottom: 1rem;

}

div{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #2f4858;
}

footer{
    margin-top: 1rem;
    background-color: #006e5f;
    color: #ffe8ff;
}

footer a:hover{
    cursor: pointer;
}

footer a:active{
    color: purple;
}