body{
    background-color: #ffa551;
   font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  
}

header{
    background-color: #e91b1b;
    color: rgb(212, 233, 252);

}

footer{
    background-color: azure;
}